@import "variables";
@import "common";
@import "utils";

.calc {
  border: 3px solid yellow;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;

  &__preview {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 0;

      &:first-child {
        position: static;
      }
    }
  }

  &__step {
    margin-top: 30px;
  }

  &__price {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
  }
}

.custom-radio-input {
  cursor: pointer;

  input {
    display: none;
  }

  img {
    border-radius: 50%;
    border: 3px solid transparent;
  }

  input:checked + img {
    border: 3px solid red;
  }
}

.custom-checkbox {
  display: flex;

  span {
    display: block;
  }

  input {
    display: none;
  }

  &:hover {
    input + div::after {
      background: rgba(yellow, 0.4);
    }
  }

  input + div {
    width: 15px;
    height: 15px;
    border: 1px solid yellow;
    padding: 2px;

    margin-top: 5px;
    margin-right: 10px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  input:checked + div::after {
    background: yellow;
  }
}
