extends templates/main

block variables
  - var title = 'Калькулятор-визуализатор'

block content
  .container

    input(type="range", value="10", min="1", max="30", oninput="console.log(event.target.value)", style="width: 100%")

    br
    br
    br

    form.calc__form.row
      .col-12.col-md-6
        .calc__step
          h4.calc__step-title Шаг 1
          label.d-block.my-2 Выберите тип ячеек

          label.custom-radio-input.mr-2
            input(type="radio", name="type", value="sota", hidden, checked)
            img(src="img/sota.png")
            span.d-block.text-center Сота

          label.custom-radio-input.mr-2
            input(type="radio", name="type", value="romb", hidden)
            img(src="img/romb.png")
            span.d-block.text-center Ромб
        
        .calc__preview.mt-5.w-75
          //- Коврик ром
          img.calc-capter.romb(src="img/carpet/romb/01.png", style="visibility: hidden;")
          //- Коврик сота
          img.calc-capter.sota(src="img/carpet/sota/01.png")
          //- Кант
          img.calc-border(src="img/border/01.png")
          //- Шильдик
          img.shildik(src="img/shildik.png", style="visibility: hidden")
          //- Подпятник
          img.podpatnik(src="img/podpatnik.png", style="visibility: hidden")

      .col-12.col-md-6
        .calc__step
          h4.calc__step-title Шаг 2
          label.d-block.my-2 Выберите цвет коврика

          label.custom-radio-input.mr-2
            input(type="radio", name="capter-color", value="01", hidden, checked)
            img(src="img/colors/01.png", width="30")

          label.custom-radio-input.mr-2
            input(type="radio", name="capter-color", value="02", hidden)
            img(src="img/colors/02.png", width="30")

          label.custom-radio-input.mr-2
            input(type="radio", name="capter-color", value="04", hidden)
            img(src="img/colors/04.png", width="30")

          label.custom-radio-input.mr-2
            input(type="radio", name="capter-color", value="06", hidden)
            img(src="img/colors/06.png", width="30")
    
        .calc__step
          h4.calc__step-title Шаг 3
          label.d-block.my-2 Выберите цвет канта

          label.custom-radio-input.mr-2
            input(type="radio", name="border-color", value="01", hidden, checked)
            img(src="img/colors/01.png", width="30")

          label.custom-radio-input.mr-2
            input(type="radio", name="border-color", value="02", hidden)
            img(src="img/colors/02.png", width="30")

          label.custom-radio-input.mr-2
            input(type="radio", name="border-color", value="04", hidden)
            img(src="img/colors/04.png", width="30")

          label.custom-radio-input.mr-2
            input(type="radio", name="border-color", value="06", hidden)
            img(src="img/colors/06.png", width="30")

        .calc__step
          h4.calc__step-title Шаг 4
          label.d-block.my-2 Выберите комплектующие

          .d-flex
            div.me-5 
              label.custom-checkbox.mb-2
                div 
                  input(type="checkbox", name="dop", value="150", data-dop="shild")
                  div
                div
                  span Шильдик
                  small 150 руб. за штуку

              label.custom-checkbox.mb-2
                div 
                  input(type="checkbox", name="dop", value="500", data-dop="podp")
                  div
                div
                  span Подпятник
                  small 500 руб. за штуку
            div 
              label.custom-checkbox.mb-2
                div 
                  input(type="checkbox", name="dop", value="2300")
                  div
                div
                  span Ковер в багажник
                  small от 2300 руб. за штуку

              label.custom-checkbox.mb-2
                div 
                  input(type="checkbox", name="dop", value="500")
                  div
                div
                  span 3D формовка
                  small от 500 руб. за штуку

        .calc__price
          span Итого: 
          span.price 2500
          span  руб.
